*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Courier", monospace;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
  background-color: #201d1d;
}


._container {
  width: 80%;
  margin: 2rem auto;
}

._viewer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 5vw);
  grid-gap: 1.5rem;
}

.title {
  grid-area: logo;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #201d1d;

}
.title__img {
  height: 40px;
  width: 80px;
}

.mainframe {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 7;

}
.mainframe__large__img {
    width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigatie {
  
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.2rem;
  
  
}

.subframe {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 12;
  background-color: silver;
}
._viewer__control {
  width: 100%;
  height: 100%;
  padding: 5%;
}

._viewer_control:hover{}
.navigatie__up{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;}
.navigatie__left{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;}
.navigatie__right{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;}
.navigatie__down{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-end: 4;}
#small {
  width: 100%;
  padding: 5px;
}

#small #tumbs img {
  width: 20%;
  padding: 1%;
}



.title__img {
  height: 40px;
  width: 80px;
}
@media only screen and (max-width: 600px) {
  body {
   
  }
  .title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  }

  .mainframe  {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;

}
.navigatie {
  
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 8;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.2rem;
  
  
}
.subframe {
    grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 14;
  background-color: silver;
}
/*#small #tumbs img {
  width: 30%;
  padding: 2%;
}*/
.subframe__small{
  width: 30%;
  padding: 2%;
}
.subframe__tumbs{
  width: 30%;
  padding: 2%;
}

}
